VITE_SHOPIFY_STORE_DOMAIN=aqwut5-0n.myshopify.com
VITE_SHOPIFY_STOREFRONT_ACCESS_TOKEN=REPLACE_WITH_STOREFRONT_TOKEN
VITE_META_PIXEL_ID=REPLACE_WITH_META_PIXEL_ID
VITE_PUBLIC_SITE_URL=https://langsomtnok.dk
